<div class='app-sidebar'>
  <ul>
    <li>
      <a [routerLink]="['produto/camisetas']">Camisetas</a>
      <ul>
        <li>
          <a [routerLink]="['produto/camisetas/masculino']">Masculino</a>
        </li>
        <li>
          <a [routerLink]="['produto/camisetas/feminino']">Feminino</a>
        </li>
        <li>
          <a [routerLink]="['produto/camisetas/infantil']">Infantil</a>
        </li>
      </ul>
    </li>

    <li>
      <a [routerLink]="['produto/calcas']">Calças</a>
        <ul>
          <li>
            <a [routerLink]="['produto/calcas/masculino']">Masculino</a>
          </li>
          <li>
            <a [routerLink]="['produto/calcas/feminino']">Feminino</a>
          </li>
          <li>
            <a [routerLink]="['produto/calcas/infantil']">Infantil</a>
          </li>
      </ul>
    </li>
  </ul>
</div>
