<div class='app-sidebar'>
  <ul>
    <li>
      <a [routerLink]="['produto/camiseta']">Camisetas</a>
      <ul>
        <li>
          <a [routerLink]="['produto/camiseta/masculino']">Masculino</a>
        </li>
        <li>
          <a [routerLink]="['produto/camiseta/feminino']">Feminino</a>
        </li>
        <li>
          <a [routerLink]="['produto/camiseta/infantil']">Infantil</a>
        </li>
      </ul>
    </li>

    <li>
      <a [routerLink]="['produto/calca']">Calças</a>
        <ul>
          <li>
            <a [routerLink]="['produto/calca/masculino']">Masculino</a>
          </li>
          <li>
            <a [routerLink]="['produto/calca/feminino']">Feminino</a>
          </li>
          <li>
            <a [routerLink]="['produto/calca/infantil']">Infantil</a>
          </li>
      </ul>
    </li>
  </ul>
</div>
